<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CityLib</title>

    <link rel="stylesheet" type="text/css" href="css/uikit.min.css" th:href="@{/css/uikit.min.css}"  />

</head>
<body>

<nav class="uk-navbar-container uk-margin" uk-navbar>
    <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-logo" href="#">CityLib</a>
    </div>
</nav>

<div class="row">
    <p th:text="${book.title}" />&nbsp;<span th:text="${book.year}" class="uk-badge" />
    <p th:text="${book.author}" />
    Il reste actuellement <span th:text="${book.available}" /> exemplaires disponibles au prêt !
</div>

<script type="text/javascript" src="js/uikit.min.js" th:src="@{/js/uikit.min.js}"></script>
<script type="text/javascript" src="js/uikit-icons.min.js" th:src="@{/js/uikit-icons.min.js}"></script>

</body>
</html>