<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>CityLib - Connexion</title>
    <div th:replace="fragments/statics.html :: head"></div>
</head>
<body class="bg-primary text-light" style="overflow: hidden;background: url('/images/background/bg_login.jpg') no-repeat fixed top;background-size: cover;background-position-y: 56px;">

<nav th:replace="fragments/statics.html :: navbar">
</nav>

<div class="container-fluid" style="height: 100vh;">
    <div th:if="${param.error}">
        <div class="alert alert-danger alert-dismissible fade show" style="max-width: 500px">
            <strong>Nom d'utilisateur ou mot de passe incorrect.</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <div th:if="${param.logout}">
        <div class="alert alert-info alert-dismissible fade show mt-5 mx-auto" style="max-width: 500px">
            <strong>Vous avez été déconnecté.</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="far fa-times-circle"></i></span>
            </button>
        </div>
    </div>
    <div class="row h-100 align-items-center">
        <div class="col-md-6 mx-auto">

            <div class="text-center mb-5">
                <img src="/images/logo/logo_login.png" height="150" width="131" />
            </div>

            <form th:action="@{/login}" method="post">

                <div class="form-group">
                    <input type="text"
                           id="username"
                           name="username"
                           class="form-control mx-auto"
                           style="max-width: 300px"
                           autofocus="autofocus"
                           placeholder="Adresse Email"/>
                </div>
                <div class="form-group">
                    <input type="password"
                           id="password"
                           name="password"
                           class="form-control mx-auto"
                           style="max-width: 300px"
                           placeholder="Mot de passe"/>
                </div>
                <div class="form-group">
                    <div class="row justify-content-center">
                        <div>
                            <input type="submit"
                                   name="login-submit"
                                   id="login-submit"
                                   class="form-control btn btn-info mx-auto font-weight-bold mt-4"
                                   style="max-width: 300px"
                                   value="Se connecter"/>
                        </div>
                    </div>
                </div>
                <div class="form-group text-center mt-5">
                    <span>Nouvel utilisateur ? <a href="/registration" th:href="@{/registration}" class="text-info">Enregistrez-vous !</a></span>
                </div>
            </form>
        </div>
    </div>


</div>

<div th:replace="fragments/statics.html :: scripts"></div>
</body>
</html>