<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>CityLib - Mes emprunts</title>
    <div th:replace="fragments/statics.html :: head"></div>
</head>
<body class="bg-primary text-light">

<nav th:replace="fragments/statics.html :: navbar">
</nav>

<div sec:authorize="isAuthenticated()">
    <div class="text-center">
        <div class="display-4">
            Bienvenue <strong th:text="${loggedUser.username}"></strong>
        </div>
        <div class="px-5">
            <hr style="border-color: #304098">
        </div>

        <div class="my-5">
            <span class="display-4 border-bottom border-top border-light rounded pb-2">
            &nbsp;&nbsp;RESERVATIONS&nbsp;&nbsp;
            </span>
        </div>

        <div th:if="${userReservations.size() eq 0}">
            <hr style="border-color: #304098">
                <div class="my-3">
                    Vous n'avez aucune réservation en attente.
                </div>
        </div>

        <div th:each="reservationBean : ${userReservations}" class="my-3">
            <hr style="border-color: #304098">
            <div th:text="${reservationBean.book.title}" />
            <div th:if="${reservationBean.position eq 1}">
                Vous êtes en tête de la file d'attente.
            </div>
            <div th:if="${reservationBean.position eq 2}">
                Vous êtes en 2<sup>nde</sup> position dans la file d'attente.
            </div>
            <div th:if="${reservationBean.position gt 2}">
                Vous êtes en <span th:text="${reservationBean.position}" /><sup>ème</sup> position dans la file d'attente.
            </div>
            <div>
                Date de retour prévue : <span th:text="${#temporals.format(reservationBean.returnDate, 'dd MMMM yyyy', new java.util.Locale('fr', 'FR'))}" />
            </div>
            <div class="mx-auto">
                <a class="btn-sm btn-danger" th:href="@{|/reservations/delete/${reservationBean.id}|}">
                    Annuler cette réservation
                </a>
            </div>

        </div>
        <hr style="border-color: #304098">

        <div class="mt-5">
            <span class="display-4 border-bottom border-top border-light rounded pb-2">
            &nbsp;&nbsp;EMPRUNTS&nbsp;&nbsp;
            </span>
        </div>
    </div>

    <nav aria-label="Pagination" th:if="${userLoans.totalPages gt 1}">
        <ul class="pagination justify-content-center mt-5">
            <li th:if="${userLoans.hasPrevious()}" class="page-item">
                <a class="page-link" th:href="@{/users/account/(page=${userLoans.number})}">
                    <span>&laquo;</span>
                </a>
            </li>
            <li th:each="i : ${#numbers.sequence(1, userLoans.totalPages)}" class="page-item" th:classappend="${i eq (userLoans.number + 1)} ? active">
                <a th:href="@{/books/search/(query=${#httpServletRequest.getParameter('query')},page=${ i })}" th:text="${ i }" class="page-link"></a>
            </li>
            <li th:if="${userLoans.hasNext()}" class="page-item">
                <a class="page-link" th:href="@{/books/search/(page=${userLoans.number + 2})}">
                    <span>&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

    <div th:each="loanBean : ${userLoans}" class="col-xl-8 mx-auto">
        <div th:unless="${loanBean.returned}">
            <div class="jumbotron my-5 shadow-lg py-5" style="background: url('/images/background/bg_jumbotron.jpg') no-repeat center fixed;background-size: cover">
                <div class="media">
                    <img th:src="${loanBean.book.image}" class="shadow rounded-lg align-self-center d-none d-xl-block mr-5" width="150" height="auto" />
                    <div class="media-body">
                        <a th:href="@{|/books/id/${loanBean.book.id}|}" style="text-decoration: none"><h1 class="display-4 text-light"><span th:text="${loanBean.book.title}" /></h1></a>
                        <p class="lead text-light mb-0">Un livre de&nbsp;<span th:text="${loanBean.book.author}" />&nbsp;aux éditions&nbsp;&quot;<span th:text="${loanBean.book.editor}" />&quot;</p>
                        <p class="mt-0">
                            <span th:text="${loanBean.book.genre}" class="shadow badge badge-info" />&nbsp;
                            <span th:text="${loanBean.book.year}" class="shadow badge badge-primary" />
                        </p>
                        <hr class="my-4">
                        <div th:if="${loanBean.expired && !loanBean.returned}">
                            <div class="alert alert-danger">
                                Ce livre devait être retourné avant le <span th:text="${#temporals.format(loanBean.due, 'dd MMMM yyyy', new java.util.Locale('fr', 'FR'))}" /> et doit être retourné à la bibliothèque immédiatement !
                            </div>
                        </div>
                        <div th:if="${!loanBean.expired && !loanBean.returned}">
                            <div class="alert alert-success">
                                Rappel : Ce livre doit être retourné avant le <span th:text="${#temporals.format(loanBean.due, 'dd MMMM yyyy', new java.util.Locale('fr', 'FR'))}" />
                            </div>
                            <p th:if="${!loanBean.extended}">
                                <a th:href="@{|/loans/extend/${loanBean.id}|}" class="btn btn-primary">Vous pouvez étendre la durée de cet emprunt de 4 semaines en cliquant ici !</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:if="${loanBean.returned}">
            <div class="jumbotron my-5 shadow-lg py-5" style="background: url('/images/background/bg_jumbotron_orange.jpg') no-repeat center fixed;background-size: cover">
                <div class="media">
                    <img th:src="${loanBean.book.image}" class="shadow rounded-lg align-self-center d-none d-xl-block mr-5" width="150" height="auto" />
                    <div class="media-body">
                        <a th:href="@{|/books/id/${loanBean.book.id}|}" style="text-decoration: none"><h1 class="display-4 text-light"><span th:text="${loanBean.book.title}" /></h1></a>
                        <p class="lead text-light mb-0">Un livre de&nbsp;<span th:text="${loanBean.book.author}" />&nbsp;aux éditions&nbsp;&quot;<span th:text="${loanBean.book.editor}" />&quot;</p>
                        <p class="mt-0">
                            <span th:text="${loanBean.book.genre}" class="shadow badge badge-info" />&nbsp;
                            <span th:text="${loanBean.book.year}" class="shadow badge badge-primary" />
                        </p>
                        <hr class="my-4">
                        <div class="alert alert-light">
                            Ce livre a été rendu.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/statics.html :: scripts"></div>

</body>
</html>